@charset "utf-8";
/* CSS Document */


body {
	background-color: #F3F3F3;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.top_image {
	position: static;
	margin-top: -400px;
	padding-left: 15px;
	padding-right: 15px;
	background-size: cover;
}	
	
header {
	background-color: #3000F9;
	position: fixed;
	left: 0;
	right: 0;
	top: 5px;
	height: 50px;
	display: flex;
	align-items: center;
	box-shadow: 0 0 25px 0 black;
	font-size: 30px;
}
	
header * {
	display: inline;
}
	
header li {
	margin: 100px;
}
	
header a {
	color: black;
	text-decoration: none;
}
	
.logo {
	position: static;
	margin-top: -430px;
	padding-left: 350px;
}


li:hover a {
	box-sizing: border-box;
	width: 100%;
	border: solid black 3px;
	padding: 3px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.Velkommen-tekst{
	margin-top: 320px;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 46px;
	text-shadow: 2px 2px darkgray;
}

.tekst {
	font-size: 16px;
	min-width: 400px;
	max-width: 400px;
	text-align: center;
	margin: 0 auto;
	line-height: 1.4;
}

.sponsor {
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100px;
	border: 3px solid black;
	padding: 100px;
}